/*
black purple #17141f
deep purple #201c2b
dark purple #2c2541
grayish #dad8de
light faded purple #b19dd8
dark gray #35333a
bright purple #6441a4
white #faf9fa
light purple #7d5bbe
faded purple #9a7fcc
black #0e0c13
faded dark purple #392e5c
*/

.dark .background,
.dark .dpad-up,
.dark .dpad-right,
.dark .dpad-down,
.dark .dpad-left,
.dark .dpad-center {
  background-color: #17141f;
}

.dark .background,
.dark input[type=text],
.dark button,
.dark .dpad-icon, 
.dark .bpad-icon {
  color: #dad8de;
}

.dark .sub-categories,
.dark .sub-category,
.dark .footer-item,
.dark .info-box,
.dark .item-remove-box {
  border-color: #2c2541;
}

body.dark,
.dark .sub-categories,
.dark .sub-category,
.dark .info-box,
.dark .footer-item,
.dark .item-remove-box,
.dark input[type=text],
.dark .selection,
.dark .menu-open .menu-icon {
  background-color: #0e0c13;
}

.dark .store-requirements-box,
.dark input[type=text],
.dark .selection,
.dark .menu-open .menu-icon {
  border-color: #392e5c;  
}

.dark .chatlog {
  background-color: #392e5c;
  color: #dad8de;
  border-left-color: #2c2541;
}

.dark .nav-item-label:hover,
.dark .nav-item-arrow:hover,
.dark .sub-category:hover,
.dark .leaderboard-nav-link:hover,
.dark .current-leaderboard {
  color: #b19dd8;
}

.dark .item-remove-box,
.dark .clicked .dpad-icon,
.dark .clicked .bpad-icon {
  color: #7d5bbe;
}

.dark .footer-item.disabled {
  color: #35333a;
}

.dark input[type=text]:focus {
  border-color: #7d5bbe;
  box-shadow: 0 0 6px -2px #7d5bbe;
}

.dark .item-image:hover {
  background-color: #6441a4;
}

.dark button {
  background-color: #6441a4;
}

.dark button:hover {
  background-color: #7d5bbe;
  border-color: #7d5bbe;
}

.dark button:focus {
  background-color: #7d5bbe;
  border-color: #9a7fcc;
  box-shadow: 0 0 6px 0 #7d5bbe;
}

.dark button:active {
  background-color: #6441a4;
  border-color: #7d5bbe;
  box-shadow: 0 0 6px 0 #7d5bbe;
}

.dark input[type=range]::-webkit-slider-thumb {
  border-color: #000;
  background-color: #8257d1;
}

.dark input[type=range]::-moz-range-thumb {
  border-color: #000;
  background-color: #8257d1;
}

.dark input[type=range]::-ms-thumb {
  border-color: #000;
  background-color: #8257d1;
}

.dark input[type=range]::-webkit-slider-runnable-track {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background-color: #6441a4;
  border-color: #010101;
}

.dark input[type=range]:focus::-webkit-slider-runnable-track {
  background: #6441a4;
}

.dark input[type=range]::-moz-range-track {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #6441a4;
  border-color: #010101;
}

.dark input[type=range]::-ms-fill-lower {
  background: #6441a4;
  border-color: #010101;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.dark input[type=range]:focus::-ms-fill-lower {
  background: #6441a4;
}

.dark input[type=range]::-ms-fill-upper {
  background: #6441a4;
  border-color: #010101;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.dark input[type=range]:focus::-ms-fill-upper {
  background: #6441a4;
}

.dark.component .component-toggle,
.dark.component .container {
  border-color: #dad8de;
}

.dark .leaderboard-header,
.dark .leaderboard-rank-number {
  color: #91979a;
}

.dark .leaderboard-rank-highlight {
  background-color: #2b383f;
}

.dark .action-controller-bg {
  color: #392e5c;
}

.dark .dpad-lock,
.dark .bpad-lock {
  color: #6441a4;
}

input::selection {
  background-color: #ccc;
}

.dark .chat-message strong {
  color: #5994ff;
}

.dark .chat-message.bot strong {
  color: #a70b28;
}

.dark .chat-message.bot a {
  color: #8c8cff;
}